<div class="mt-4">
  <div class="card-plain col-md-12">
    <div class="row col-md-12">
      <h4 class="text-medi">Prescriptions</h4>
      <button class="btn btn-sm btn-info float-right ml-auto" (click)="addPrescription($event)"
        *ngIf="!prescriptions.length && creatingOrEditing">Add</button>
    </div>
    <hr>
    <div class="row">
      <div class="col-xl-12 col-12 mt-3 mx-auto">
        <table class="table table-hover table-responsive-lg text-left layout-table prescription-table">
          <thead>
            <th class="text-center text-small">No.</th>
            <th>Drug</th>
            <th>Dosage</th>
            <th>Administration</th>
            <th>Duration</th>
            <th>Units</th>
            <th>Unit Price</th>
            <th>Amount</th>
            <th class="text-center">File</th>
            <th class="text-center" *ngIf="creatingOrEditing">Action</th>
          </thead>
          <tbody>
            <tr class="animated fadeIn faster" *ngFor="let prescription of prescriptions; let i = index">
              <td class="text-center">{{i+1}}.</td>
              <td>
                <input type="text" id="drug" class="table-inputs" name="drug" [(ngModel)]="prescription.drug" [disabled]="viewing" placeholder="Drug" />
              </td>
              <td>
                <ng-select appearance="outline" labelForId="dosage" [searchable]="true" [clearable]="false" appendTo="body"
                  [(ngModel)]="prescription.dosage" placeholder="Select dosage">
                  <ng-option *ngFor="let dose of dosages" [value]="dose.name" (change)="onChange($event, prescription)">
                    {{dose.name}}
                  </ng-option>
                </ng-select>
              </td>
              <td>
                <ng-select appearance="outline" labelForId="administration" [searchable]="true" [clearable]="false" appendTo="body"
                  [(ngModel)]="prescription.administration" placeholder="Select administration">
                  <ng-option *ngFor="let admin of administrations"  [value]="admin.name" (change)="onChange($event, prescription)">
                    {{admin.name}}
                  </ng-option>
                </ng-select>
              </td>
              <td>
                <input type="number" onkeydown="return event.keyCode !== 69" id="duration" class="table-inputs" placeholder="Duration"
                  name="duration" [(ngModel)]="prescription.duration" (keyup)="onChange($event, prescription)" />
              </td>
              <td>
                <input type="number" onkeydown="return event.keyCode !== 69" class="table-inputs" name="units" placeholder="Units"
                  [(ngModel)]="prescription.units" (keyup)="onChange($event, prescription)" />
              </td>
              <td>
                <input type="number" onkeydown="return event.keyCode !== 69" class="table-inputs"
                  [ngModelOptions]="{standalone: true}" name="unit_price" [(ngModel)]="prescription.unit_price" placeholder="Unit Price"
                  (keyup)="onChange($event, prescription)" />
              </td>
              <td>

                <input type="number" class=" table-inputs" name="amount" [(ngModel)]="prescription.amount"
                  [value]="prescription.units*prescription.unit_price" disabled="true"
                  [ngModelOptions]="{standalone: true}" />
              </td>
              <td>
                <div class="col-md-12">
                  <input type="file" class="table-inputs custom-file-input mx-auto" name="prescriptionFile"
                    (change)="onChange($event, prescription)" accept="application/pdf,image/x-png,image/gif,image/jpeg"
                    maxsize="6000">
                  <label class="custom-file-label"
                    for="customFile">{{prescription.file ? prescription.file.filename: 'Upload file'}}</label>
                </div>
              </td>
              <td class="text-center" *ngIf="creatingOrEditing">
                <i class="fas fa-plus save-icon" (click)="addPrescription()"
                  *ngIf="prescription.dosage && prescription.administration && prescription.duration && prescription.units && prescription.unit_price && prescriptions.length == i+1"></i>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                <i class="fas fa-trash delete-icon"
                  (click)="deductSubTotalAmount.emit({index: i, _type: 'prescription'});deleteItem.emit({index:i, array:prescriptions})"></i>
              </td>
            </tr>

            <tr class="animated fadeIn faster" *ngIf="prescriptions.length">
              <td>
                <b>Total</b>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td *ngIf="creatingOrEditing">
              </td>
              <td class="text-center">
                <b class="total-amount">Ksh {{totalAmount}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto my-auto text-center" style="padding: 20px" *ngIf="!prescriptions.length">
          <i class="fas fa-clipboard fa-4x" style="color:rgb(230, 230, 230)"></i><br><br>
          No Records!
        </div>
      </div>
    </div>
  </div>
</div>