<app-loader *ngIf="loading">
</app-loader>
<div class="main-content mt-3">
  <!-- <form [formGroup]="graphMvcForm" (submit)="graphMVCFilter($event)" novalidate class="col-xl-12 row">
    <div class="col-sm-5 mx-auto pb-2">
      <ng-select appearance="outline" labelForId="scheme_id" [searchable]="true" [clearable]="false"
        placeholder="Select a Scheme" [multiple]="true" formControlName="scheme" [items]="schemes"
        bindLabel="scheme_name" bindValue="id">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice:0:1">
            <span class="ng-value-label">{{item.scheme_name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
          </div>
        </ng-template>
      </ng-select>
      <span class="small text-danger form-error-span"
        *ngIf="graphMvcForm.controls['scheme'].errors && graphMvcFormSubmitted">
        {{graphFormErrors.required}}
      </span>
    </div>
    <div class="col-sm-5 mx-auto pb-2">
      <ng-select appearance="outline" labelForId="department_id" [searchable]="true" [clearable]="false"
        placeholder="Select a Department" [multiple]="true" formControlName="department" [items]="departments"
        bindLabel="name" bindValue="id">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice:0:1">
            <span class="ng-value-label">{{item.name}}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
          </div>
        </ng-template>
      </ng-select>
      <span class="small text-danger form-error-span"
        *ngIf="graphMvcForm.controls['department'].errors && graphMvcFormSubmitted">
        {{graphFormErrors.required}}
      </span>
    </div>
    <div class="col-sm-2 pb-2">
      <button class="btn btn-sm d-block mx-auto  btn-info py-2 my-auto">Search</button>
    </div>
  </form> -->
  <div class="row">
    <div class="col-xl-8 mx-auto mb-4">
      <div class="card-plain animated fadeInUp faster text-center">
        <div class="row">
          <div class="col-12 my-auto graph-card">
            <div id="mvc-graph"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card-plain animated fadeInUp faster">
        <h4 class="text-medi pb-3">&nbsp;Other Metrics</h4>
        <hr>
        <ul class="list-group" style="font-size: 12px">
          <li class="list-group-item"><b>Total Not Used:</b> <span class="text-muted"> 200</span></li>
          <li class="list-group-item"><b>Total Claim Raised:</b> <span class="text-muted"> 100</span></li>
          <li class="list-group-item"><b>Total Preauth Raised:</b> <span class="text-muted"> 0</span>
          <li class="list-group-item"><b>Total MVCs:</b> <span class="text-bold"> 2000</span>
          </li>
          <br>
        </ul>
      </div>
    </div>
  </div>
  <hr class="d-md-none">
  <div class="row mt-4 pt-2">
    <div class="col-xl-8 mx-auto mb-4">
      <div class="card-plain animated fadeInUp faster">
        <div class="row">
          <div class="col-12 my-auto graph-card py-4">
            <div id="claim-graph">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card-plain animated fadeInUp faster">
        <h4 class="text-medi pb-2">Other Metrics</h4>
        <hr>
        <ul class="list-group">
          <li class="list-group-item"><b>Pending:</b> <span class="text-muted"> 200</span>
          </li>
          <li class="list-group-item"><b>Approved:</b> <span class="text-muted"> 100</span>
          </li>
          <li class="list-group-item"><b>Incomplete:</b><span class="text-muted"> 50</span></li>
          <li class="list-group-item"><b>Rejected:</b><span class="text-muted"> 20</span>
          </li>
          <li class="list-group-item"><b>Fraud:</b><span class="text-muted"> 0</span></li>
          <br>
        </ul>
      </div>
    </div>
  </div>

  <hr class="d-md-none">

  <div class="row  mt-4 pt-2">
    <div class="col-xl-8 mx-auto mb-4">
      <div class="card-plain animated fadeInUp faster">
        <h4 class="pb-3">PREAUTHS</h4>
        <div class="row">
          <div class="col-12 my-auto graph-card py-3">
            <div id="preauth-graph">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card-plain animated fadeInUp faster">
        <h4 class="text-medi pb-2">Other metrics</h4>
        <hr>
        <ul class="list-group">
          <li class="list-group-item"><b>Pending:</b><span class="text-muted"> 0</span>
          </li>
          <li class="list-group-item"><b>Approved:</b><span class="text-muted"> 20</span>
          </li>
          <li class="list-group-item"><b>Incomplete:</b><span class="text-muted"> 100</span></li>
          <li class="list-group-item"><b>Rejected:</b><span class="text-muted"> 10</span>
          </li>
          <li class="list-group-item"><b>Fraud:</b><span class="text-muted"> 20</span></li>
          <br>
        </ul>

      </div>
    </div>
  </div>
  <br>
</div>