<app-loader *ngIf="loading"></app-loader>
<section>
  <div class="row mt-4 main-content ml-auto">
    <ng-select appearance="outline" labelForId="department_id" [searchable]="false" [clearable]="false" appendTo="body"
      placeholder="Filter By" class="d-block float-right ml-auto col-md-2" [(ngModel)]="currentFilter" (change)="setFilter()">
      <ng-option *ngFor="let option of filterOptions" [value]="option">
        {{option.name}}
      </ng-option>
    </ng-select>
  </div>
  <div class="row mt-1 main-content">
    <div class="col-xl-4 mx-auto">
      <div class="card-plain animated fadeIn">
        <div>
          <div class="d-flex flex-row">
            <img src="../../../assets/images/document.png" alt="" width="40">
            <h4 class="text-medi my-auto mx-auto">MVC</h4>
          </div><br><br><br>
        </div>
        <div class="row total-area">
          <span class="col-lg-12">{{month}} {{year}} Total: {{mvcTotal}}</span>
        </div>
        <hr class="styled-hr">
        <div class="row">
          <div class="col-lg-6">
            <p class="text-left">Average MVC:
              <span class="text-right ml-auto text-dark">{{mvcAvg}}</span></p>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-success btn-sm float-right" routerLink="/sla/mvc/list">Details</a>
          </div>
        </div>
      </div>
      <br class="d-md-none">
      <br class="d-md-none">
      <br class="d-md-none">
      <hr class="d-md-none">
    </div>
    <div class="col-xl-4 mx-auto">
      <div class=" card-plain animated fadeIn">
        <div>
          <div class="d-flex flex-row">
            <img src="../../../assets/images/stack.png" alt="" width="40">
            <h4 class="text-medi my-auto mx-auto">CLAIMS</h4>
            <!-- <button class="btn btn-info btn-sm" (click)="openDialog('Claim')">view</button> -->
          </div><br><br><br>
        </div>
        <div class="row total-area">
          <span class="col-lg-12">{{month}} {{year}} Total: {{claimsTotal}}</span>
        </div>
        <hr class="styled-hr">
        <div class="row">
          <div class="col-lg-6">
            <p class="text-left">Average Claims:
              <span class="text-right ml-auto text-dark">{{claimsAvg}}</span></p>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-success btn-sm float-right" routerLink="/sla/view/claim">Details</a>
          </div>
        </div>
      </div>
      <br class="d-md-none">
      <br class="d-md-none">
      <br class="d-md-none">
      <hr class="d-md-none">
    </div>
    <div class="col-xl-4 mx-auto">
      <div class="card-plain animated fadeIn">
        <div>
          <div class="d-flex flex-row">
            <img src="../../../assets/images/compose.png" alt="" width="40">
            <h4 class="text-medi my-auto mx-auto">PREAUTHS</h4>
            <!-- <button class="btn btn-info btn-sm" (click)="openDialog('Preauth')">view</button> -->
          </div><br><br><br>
        </div>
        <div class="row total-area">
          <span class="col-lg-12">{{month}} {{year}} Total: {{preauthTotal}}</span>
        </div>
        <hr class="styled-hr">
        <div class="row">
          <div class="col-lg-6">
            <p class="text-left">Average TAT:
              <span class="text-right ml-auto text-dark">{{preauthAvg}}</span></p>
          </div>
          <div class="col-lg-6">
            <a class="btn btn-success btn-sm float-right" routerLink="/sla/view/preauth">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class="d-md-none">
  <br class="d-md-none">
  <br class="d-md-none">
  <hr class="d-md-none">
  <div class="mt-3 main-content">
    <div class="row">
      <div class="col-xl-8 mx-auto">
        <div class="card-plain animated fadeInUp faster text-center">
          <div class="row">
            <div class="col-12 my-auto graph-card">
              <div id="mvc-graph"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-plain animated fadeInUp faster" style="height: 100%">
          <h4 class="text-medi pb-3">&nbsp;Other Metrics</h4>
          <!-- <hr> -->
          <ul class="list-group my-auto" style="font-size: 12px">
            <li class="list-group-item"><b>Total Not Used:</b> <span class="text-muted"> 200</span></li>
            <li class="list-group-item"><b>Total Claim Raised:</b> <span class="text-muted"> 100</span></li>
            <li class="list-group-item"><b>Total Preauth Raised:</b> <span class="text-muted"> 0</span>
            <li class="list-group-item"><b>Total MVCs:</b> <span class="text-bold"> 2000</span>
            </li>
            <br>
          </ul>
        </div>
      </div>
    </div>
    <hr class="d-md-none">
    <div class="row mt-4 pt-2">
      <div class="col-xl-8 mx-auto">
        <div class="card-plain animated fadeInUp faster">
          <div class="row">
            <div class="col-12 my-auto graph-card">
              <div id="claim-graph">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-plain animated fadeInUp faster" style="height: 100%">
          <h4 class="text-medi  pb-3">Other Metrics</h4>
          <!-- <hr> -->
          <ul class="list-group">
            <li class="list-group-item"><b>Pending:</b> <span class="text-muted"> 200</span>
            </li>
            <li class="list-group-item"><b>Approved:</b> <span class="text-muted"> 100</span>
            </li>
            <li class="list-group-item"><b>Incomplete:</b><span class="text-muted"> 50</span></li>
            <li class="list-group-item"><b>Rejected:</b><span class="text-muted"> 20</span>
            </li>
            <li class="list-group-item"><b>Fraud:</b><span class="text-muted"> 0</span></li>
            <br>
          </ul>
        </div>
      </div>
    </div>

    <hr class="d-md-none">

    <div class="row  mt-4 pt-2">
      <div class="col-xl-8 mx-auto">
        <div class="card-plain animated fadeInUp faster">
          <div class="row">
            <div class="col-12 my-auto graph-card">
              <div id="preauth-graph">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card-plain animated fadeInUp faster" style="height: 100%">
          <h4 class="text-medi pb-3">Other metrics</h4>
          <!-- <hr> -->
          <ul class="list-group">
            <li class="list-group-item"><b>Pending:</b><span class="text-muted"> 0</span>
            </li>
            <li class="list-group-item"><b>Approved:</b><span class="text-muted"> 20</span>
            </li>
            <li class="list-group-item"><b>Incomplete:</b><span class="text-muted"> 100</span></li>
            <li class="list-group-item"><b>Rejected:</b><span class="text-muted"> 10</span>
            </li>
            <li class="list-group-item"><b>Fraud:</b><span class="text-muted"> 20</span></li>
            <br>
          </ul>

        </div>
      </div>
    </div>
    <br>
  </div>
</section>