<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 d-none d-md-flex bg-image"></div>
    <div class="col-md-4">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <!--Login form logo -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                  <img src="../../favicon.ico" alt="" class="mx-auto d-block m-5" />
                </div>
              </div>
              <!-- Login form -->
              <div class="row login-form-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                  <router-outlet></router-outlet>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 guest-user-contact-us-link">
                    <a href="/contact" class="text-muted">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
