.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../../assets/images/IMG_8126.JPG");
  background-size: cover;
  background-position: center center;
}

.guest-user-contact-us-link{
  font-size: 12px;
  text-align: right;
}
.login-form-row{
  padding-bottom: 20px;
}
