<div class="container-fluid">
  <div class="row no-gutter bg-image">
    <div class="col-md-4 login-section mx-auto">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto login-form px-4">
              <!--Login form logo -->
              <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                  <img src="../../favicon.ico" class="brand_logo" alt="Logo">
                </div>
              </div><br>
              <br><br>
              <br><br>
              <br>
              <!-- Login form -->
              <div class="row login-form-row mt-4 mx-auto animated fadeIn">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                  <router-outlet></router-outlet>
                </div>
              </div><br>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 guest-user-contact-us-link">
                  <a routerLink="/contact" class="text-white">Contact Us</a>
                </div>
              </div><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>