.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background: green !important;
}
.table-inputs{
    border: solid 1px rgb(235, 235, 235);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: rgb(253, 253, 253);
}