<div class="main-content">
  <app-loader *ngIf="loading"></app-loader>
  <div class="dashboard-items">
    <mat-tab-group class="col-md-8">
      <mat-tab label="Generate Preauth">
        <div class="main-content">
          <h2 class="mt-4 mb-4 d-flex align-items-center" *ngIf="memberData.status === 0">Status&nbsp;&nbsp;
            <span class="badge badge-primary py-2">Pending</span></h2>
          <h3 class="mt-4 mb-4" *ngIf="memberData.status === 1">STATUS <span
              class="badge badge-success">Completed</span></h3>
          <div class=" col-md-8 card-plain">
            <div>
              <h4 class="text-medi"><strong>{{memberData.user && memberData.user.first_name}}&nbsp;
                  {{memberData.user && memberData.user.last_name}}
                </strong>
              </h4>
              <h4 class="p-1">Member number: <span class="text-muted">{{memberData.member_no}}</span></h4>
              <h4 class="p-1">Relation: <span
                  class="text-muted">{{memberData.user && memberData.user.bls_member.relation}}</span></h4>
              <h4 class="p-1" *ngIf="memberData.user && memberData.user.gender === 1">Gender: <span
                  class="text-muted">Male</span></h4>
              <h4 class="p-1" *ngIf="memberData.user && memberData.user.gender === 0">Gender: <span
                  class="text-muted">Female</span></h4>
              <h4 class="p-1">Age: <span
                  class="text-muted">{{memberData.user && memberData.user.date_of_birth | calculateAge}}</span></h4>
              <h4 class="p-1">MVC: <span class="text-muted">{{memberData.id}}</span></h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group has-success">
                <label for="invoiceNo">Invoice No*</label>
                <input type="text" id="invoiceNo" class=" form-control input" name="invoice_no"
                  placeholder="Invoice No" />
              </div>
            </div>
            <div class="col-md-5">
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput [matDatepicker]="picker1" placeholder="Enter from date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="History">
        History

      </mat-tab>
    </mat-tab-group>
  </div>
</div>