<!-- <div class="row mx-auto">
  <div class="col-md-12 mt-4 mx-auto">
    <div class="card p-4 text-muted h-100">
      Welcome to Mediclaim
    </div>
  </div>
</div>
<div class="row mx-auto">
  <div class="col-md-4 mt-4 mx-auto">
    <div class="card p-4 text-center">
      MVC
    </div>
  </div>
  <div class="col-md-4 mt-4 mx-auto">
    <div class="card p-4 text-center">
      Claim
    </div>
  </div>
  <div class="col-md-4 mt-4 mx-auto">
    <div class="card p-4 text-center">
      PreAuth
    </div>
  </div>
</div> -->

<section class="row dashboard-comming-soon-row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-12 dashboard-comming-soon-div">
    <span class="fa fa-bulb"></span> Dashboard coming soon!!!!
  </div>
</section>
