
.js-seslect{
height: 39px;
width: 100%;
background: #fff;
padding-left: 10px;
color: rgb(100, 100, 100);
border-radius: 4px; 
cursor: pointer;
}
::ng-deep .generate-mvc .mat-horizontal-stepper-header{
    pointer-events: none !important;
    display: none !important;
}