<section>
  <div class="main-content pt-4 mt-3">
    <div class="dashboard-items">
      <mat-horizontal-stepper linear class="generate-mvc">
        <mat-step>
          <app-search-member [serviceProvider]="serviceProvider" [objList]="objList" [schemes]="schemes"
            (setHospitalConfigs)="setHospitalConfigs($event)" (setMemberDetails)=setMemberDetails($event)
            (initScheme)="initScheme($event)"></app-search-member>
        </mat-step>
        <mat-step>
          <app-select-dependent [dependents]="dependents" [memberRelation]="memberRelation" [member]="member"
            (setDependentDetails)="setDependentDetails($event)">
          </app-select-dependent>
        </mat-step>
        <mat-step>
          <app-preview-member-details [currentMember]="currentMember" [dateOfBirth]="dateOfBirth"
            [currentMemberRelation]="currentMemberRelation" [currentMemberBiometric]="currentMemberBiometric">
          </app-preview-member-details>
        </mat-step>
        <mat-step>
          <div *ngIf="currentMemberBiometric.length===0 && showBiometricPage && !completeMVC">
            <app-fingerprint-modal (closeFingerPrint)="hideBiometric()" (generateMVCAfterFP)="generateMVCAfterFP()"
              [currentMember]="currentMember" [completedCapturing]="completedCapturing"
              [currentSchemeId]="currentSchemeId">
            </app-fingerprint-modal>
          </div>
          <div *ngIf="currentMemberBiometric.length>0 && showBiometricPage && !completeMVC">
            <app-verify-fingerprint (hideBiometric)="hideBiometric()" [member]="currentMember"
              (generateMVCAfterFP)="generateMVCAfterFP()">
            </app-verify-fingerprint>
          </div>
          <app-authentication-form [completeMVC]="completeMVC" [showBiometricPage]="showBiometricPage"
            [completedCapturing]="completedCapturing" [currentSchemeId]="currentSchemeId" [departments]="departments"
            [hospitalConfigs]="hospitalConfigs" [member]="member" (showBiometric)="showBiometric()"
            (setDepartmentData)="setDepartmentData($event)" (setNhifData)="setNhifData($event)" (createMVC)="createMVC()"
            [currentMemberBiometric]="currentMemberBiometric" [allDepartments]="allDepartments">
          </app-authentication-form>
          <app-confirm-mvc-generation [optValidated]="optValidated" [completeMVC]="completeMVC"
            [mcc_number]="mcc_number" [currentMember]="currentMember" [dateOfBirth]="dateOfBirth">
          </app-confirm-mvc-generation>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>



</section>