<section>
  <nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/sla/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/sla/claims/view']">Claims</a></li>
      <li class="breadcrumb-item active"><a>Create</a></li>
    </ol>
  </nav>
  <div class="main-content">
    <div class="dashboard-items">
      <app-claim-preauth-layout></app-claim-preauth-layout>
    </div>
  </div>
</section>