<section>
  <div class="main-content pt-4 mt-3">
    <div class="dashboard-items">
      <form [formGroup]="mvcForm" (submit)="searchMvcs($event)" novalidate class="mb-4">
        <div class="form-group">
          <div class="col-xl-12 card-plain animated fadeIn" [ngClass]="{'col-xl-12':mccData.length>0}">
            <h3 class="text-medi">Search MVC List</h3>
            <br>
            <div class="row">
              <div class="col-xl-3 col-lg-6">
                <div class="form-group has-success">
                  <label for="mvc_no" class="input-label">MVC Number</label>
                  <input type="text" class="form-control input" name="mvc" formControlName="mvc_no" />
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                <div class="form-group has-success">
                  <label for="member_no" class="input-label">Member Number</label>
                  <input type="text" class="form-control input" name="member_number"
                    formControlName="member_no" />
                </div>
              </div>
              <div class="col-xl-3 col-lg-6">
                  <mat-label>Start Date*</mat-label>
                <mat-form-field class="date-picker" appearance="outline">
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1"
                     formControlName="start_date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-xl-3 col-lg-6">
                  <mat-label>End Date*</mat-label>
                <mat-form-field class="date-picker" appearance="outline">
                  <input matInput [min]="mvcForm.value.start_date" [max]="maxDate" [matDatepicker]="picker"
                    formControlName="end_date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row pt-4">
              <button class="btn btn-success btn-sm ml-3" type="submit" [disabled]="loading">
                Search
                <img src="assets/images/ajax-loader.gif" width="20" height="20" *ngIf="loading" />
              </button>
              <button class="btn btn-dark btn-sm ml-3" type="button" (click)="clearFields()">
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
      <br>
      <app-mvc-table [mccData]="mccData" *ngIf="mccData.length>0"></app-mvc-table>
    </div>
  </div>
</section>