<div class="logo">
  <a routerLink="sla/dashboard" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="../../../favicon.ico" class="bg-white" />
    </div>
  </a>
  <a routerLink="sla/dashboard" class="simple-text logo-normal">
    {{ this.userData.hospital.name.substring(0,15) }}
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p class="side-menu-items">{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
