<app-loader *ngIf="fetching"></app-loader>
<div class="container-fluid card-plain">
  <form [formGroup]="searchForm" (submit)="searchMember($event)" novalidate>
    <div class="form-group row">
      <div class=" col-xl-12 animated fadeIn">
        <h3 class="text-medi">Search a member</h3>
        <div class="row">
          <div class="col-xl-3 col-lg-6 mb-3">
            <label for="invoiceNo" class="input-label">Select Scheme*</label>
            <ng-select appearance="outline" labelForId="scheme_id" [searchable]="true"
              [clearable]="false" formControlName="scheme_id" (change)="onSelect()">
              <ng-option *ngFor="let scheme of schemes" [value]="scheme.scheme.id">
                {{scheme.scheme.scheme_name}}</ng-option>
            </ng-select>
            <span class="small text-danger form-error-span"
              *ngIf="searchForm.controls['scheme_id'].errors && searchFormSubmitted">
              {{searchFormErrors.required}}
            </span>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="form-group has-success">
                <label for="invoiceNo" class="input-label">Member No</label>
              <input type="text" class=" form-control input" name="member_no" formControlName="member_no" />
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="form-group has-success">
                <label for="invoiceNo" class="input-label">Mobile No</label>
              <input type="text" class="form-control input" name="mobile_no" formControlName="mobile_no" />
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="form-group has-success">
                <label for="invoiceNo" class="input-label">National ID</label>
              <input type="text" class="form-control input" name="national_id"
                formControlName="national_id" />
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <button class="btn btn-success btn-sm ml-3" type="submit" [disabled]="loading">
            {{ searchButtonText }}
            <img src="assets/images/ajax-loader.gif" width="20" height="20" *ngIf="loading" />
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="pb-4 animated fadeIn" *ngIf="memberFound">
    <br>
    <hr>
    <br>
    <div class="">
      <h4 class="text-medi">Member Details</h4>
    </div>
    <div class="">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-success">
            <th>Member No</th>
            <th>Phone No</th>
          </thead>
          <tbody>
            <tr>
              <td>{{member.first_name}} {{member.last_name}}</td>
              <td>{{member.mobile_phone_number | telFilter }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-success btn-sm" mat-button matStepperNext>Next</button>
    </div>
  </div>
</div>