<app-loader *ngIf="fetching"></app-loader>
<div class="container-fluid">
  <form [formGroup]="searchForm" (submit)="searchMember($event)" novalidate>
    <div class="form-group row">
      <div class=" col-md-8 card-plain">
        <h3 class="text-medi">Search a member</h3>
        <br>
        <div class="row">
          <div class="col-md-5 mb-3">
            <!-- <select class="js-seslect" name="scheme_id" formControlName="scheme_id" (change)="onSelect()">
                  <option value="null" disabled>Select a scheme</option>
                  <option *ngFor="let scheme of schemes" [value]="scheme.scheme.id">
                    {{scheme.scheme.scheme_name}}
                  </option>
                </select> -->

            <label for="invoiceNo" class="input-label">Select Scheme*</label>
            <ng-select appearance="outline" labelForId="scheme_id" [searchable]="true"
              [clearable]="false" formControlName="scheme_id" (change)="onSelect()">
              <ng-option *ngFor="let scheme of schemes" [value]="scheme.scheme.id">
                {{scheme.scheme.scheme_name}}</ng-option>
            </ng-select>
            <span class="small text-danger form-error-span"
              *ngIf="searchForm.controls['scheme_id'].errors && searchFormSubmitted">
              {{searchFormErrors.required}}
            </span>
          </div>
          <div class="col-md-5">
            <div class="form-group has-success">
                <label for="invoiceNo" class="input-label">Member Number</label>
              <input type="text" class=" form-control input" name="member_no" formControlName="member_no" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group has-success">
                <label for="invoiceNo" class="input-label">Mobile No</label>
              <input type="text" class="form-control input" name="mobile_no" formControlName="mobile_no" />
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group has-success">
                <label for="invoiceNo" class="input-label">National Id</label>
              <input type="text" class="form-control input" name="national_id"
                formControlName="national_id" />
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <button class="btn btn-success btn-sm ml-3" type="submit" [disabled]="loading">
            <i class="fas fa-search" *ngIf="!loading"></i>
            {{ searchButtonText }}
            <img src="assets/images/ajax-loader.gif" width="20" height="20" *ngIf="loading" />
          </button>
        </div>
      </div>
    </div>
  </form>
  <br><br>
  <div class="col-md-8 px-3 pb-4" *ngIf="memberFound">
    <div class="">
      <h4 class="text-medi">Member Details</h4>
    </div>
    <div class="">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-success">
            <th>Member No</th>
            <th>Phone No</th>
          </thead>
          <tbody>
            <tr>
              <td>{{member.first_name}} {{member.last_name}}</td>
              <td>{{member.mobile_phone_number | telFilter }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-success btn-sm" mat-button matStepperNext>Next</button>
    </div>
  </div>
</div>