<div class="card-plain mt-4">
  <h4 class="text-medi">NHIF Rebate</h4><hr>
    <div class="row" *ngIf="creatingOrEditing">
      <form class="form-group has-success col-md-4" [formGroup]="nhifRebateForm"
        novalidate>
        <label for="nhif_rebate" class="input-label">NHIF Rebate*</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Ksh</span>
            </div>
            <input type="number" onkeydown="return event.keyCode !== 69" id="nhif_rebate" class=" form-control input"
              name="nhif_rebate" formControlName="nhif_rebate" formControlName="nhif_rebate"  (change)="addRebate($event)" />
          </div>
        <span class="small text-danger form-error-span"
          *ngIf="nhifRebateForm.controls['nhif_rebate'].errors && nhifFormSubmitted">
          {{nhifFormErrors.required}}
        </span>
      </form>
    </div>
    <div class="mx-auto my-auto text-center" style="padding:20px" *ngIf="!memberData.rebuild && viewing">
      <i class="fas fa-clipboard fa-4x" style="color:rgb(230, 230, 230)"></i><br><br>
      No Records!
    </div>
  </div>