<div class="mt-4">
  <div class="card-plain col-md-12">
    <div class="row col-md-12">
      <h4 class="text-medi">Services</h4>
      <button class="btn btn-sm btn-info float-right ml-auto" (click)="addService($event)"
        *ngIf="!services.length && creatingOrEditing">Add</button>
    </div>
    <hr>
    <div class="row">
      <div class="col-xl-12 col-12 mt-3">
        <table class="table table-hover table-responsive-sm text-left layout-table">
          <thead class="text-left">
            <tr>
              <th></th>
              <th>Service</th>
              <th>Unit</th>
              <th>Unit Price</th>
              <th>Amount</th>
              <th class="text-center">File</th>
              <th class="text-center" *ngIf="creatingOrEditing">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of services; let i = index" class="animated fadeIn faster">
              <td class="text-center">{{i+1}}.</td>
              <td>
                <input type="text" name="service" [(ngModel)]="service.investigation.name" class="table-inputs" placeholder="Investigation"
                  (keyup)="onChange($event, service)" [ngModelOptions]="{standalone: true}" [disabled]="viewing" />
              </td>
              <td>
                <input type="number" onkeydown="return event.keyCode !== 69" name="units" [disabled]="viewing" placeholder="Units"
                  [(ngModel)]="service.units" class="table-inputs" (keyup)="onChange($event, service)"
                  [ngModelOptions]="{standalone: true}" />
              </td>
              <td>

                <input type="number" onkeydown="return event.keyCode !== 69" [disabled]="viewing" placeholder="Unit Price"
                  name="unit_price" [(ngModel)]="service.unit_price" class="table-inputs"
                  (keyup)="onChange($event, service)" [ngModelOptions]="{standalone: true}" />
              </td>
              <td>
                <input type="number" class=" table-inputs" name="amount" [(ngModel)]="service.amount"
                  [value]="service.units*service.unit_price" disabled="true" [ngModelOptions]="{standalone: true}" />
              </td>
              <td class="text-center">
                <div class="col-md-12">
                  <input type="file" class="table-inputs custom-file-input" name="serviceFile" [disabled]="viewing"
                    (change)="onChange($event, service)" accept="application/pdf,image/x-png,image/gif,image/jpeg"
                    maxsize="6000">
                  <label class="custom-file-label"
                    for="customFile">{{service.file ? service.file.filename: 'Upload file'}}</label>
                </div>
              </td>
              <td class="text-center" *ngIf="creatingOrEditing">
                <i class="fas fa-plus save-icon" (click)="addService()"
                  *ngIf="service.investigation.name && service.units && service.unit_price && services.length == i+1"></i>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                <i class="fas fa-trash delete-icon "
                  (click)="deductSubTotalAmount.emit({index: i, _type: 'service'});deleteItem.emit({index:i, array:services})"></i>
              </td>
            </tr>

            <tr class="animated fadeIn faster" *ngIf="services.length">
              <td>
                <b>Total</b>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td></td>
              <td *ngIf="creatingOrEditing">
              </td>
              <td class="text-right">
                <b class="total-amount">Ksh {{totalAmount}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto my-auto text-center" style="padding: 20px" *ngIf="!services.length">
          <i class="fas fa-clipboard fa-4x" style="color:rgb(230, 230, 230)"></i><br><br>
          No records!
        </div>
      </div>
    </div>
  </div>
</div>